{% extends 'base.html' %}
{% block content %}
<div>
    {% if current_user.is_authenticated %}
    <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
    <h3 class='navbar-brand'>{{ current_user.email }}<h3>
    {% else %}
      <p>
          <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
          <a class="btn btn-success" href="/login">Войти</a>
      </p>
{% endif %}
  {% for elem in jobs %}
      <div class="card text-danger">
      <div class="card-header">
         {{ elem.job }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ elem.is_finished }}</h5>
        <p class="card-text">{{ elem.work_size }}</p>
        <a href="#" class="btn btn-primary">edit</a>
      </div>
    </div>
  {% endfor %}
  <a href='/addjob', class='btn btn-success'>AddJob</a>
</div>
{% endblock %}
